.app-header {
  height: 250px;
  width: 100%;
  background-color: #e9ecef;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.app-subtitle {
  font-size: 18px;
}

.app-content {
  display: flex;
}

.members__table-area {
  width: 100%;
}

.members__table {
  border-top: 1px solid #e9ecef;
  width: 300px;
}

.members__table tbody {
  border-top: 1px solid #e9ecef !important;
}

.members__table tr {
  cursor: pointer;
}

.row__selected {
  background-color: #4b9fb5;
}

.member-games__chart-area {
  width: 100%;
}
